.intro{
    color: #545454;
    font-family: 'IBM Plex Serif', Arial;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    margin-top: 110px;
}
.logo:hover,
button:hover{
    opacity: 0.8;
}
button:hover{
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.5);
}
.logo{
    text-align: center;
    margin-top: 0;
}
.introtext{
    color: #545454;
    font-family: 'IBM Plex Serif', Arial;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 45px;
}
button{
    font-family: 'IBM Plex Serif', Arial;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: white;
    background-color: #527755;
    border-radius: 25px;
    border: 0;
    cursor: pointer;
    height: 100px;
    width: 300px;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.2);
}
.buttonopt{
    display: grid;
    grid-template-columns: 300px 300px;
    column-gap: 150px;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
@media (max-width: 750px){
button{
    font-family: 'IBM Plex Serif', Arial;
    font-weight: bold;
    font-size: 25px;
    color: white;
    background-color: #527755;
    border-radius: 25px;
    border: 0;
    cursor: pointer;
    width: 300px;
    height: 100px;
    justify-content: middle;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.2);
}
.buttonopt{
    display: grid;
    grid-template-columns: 300px;
    column-gap: 150px;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
}
.links{
    color: #000000;
}
.links:hover{
    color: #527755;
}
.profile{
    height: 350px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    justify-content: center;
    background: #527755;
    border-radius: 25px;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.2);
}
.profiletext{
    color: white;
    font-family: 'IBM Plex Serif', Arial;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}
.pfp{
    height: 300px;
    width: 300px;
    border-radius: 160px;
    margin-left: 40px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
}
@media (max-width: 1250px){
    .profile{
        height: 100%;
        width: 100%;
        margin-top: 0;
        margin-bottom: 60px;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        background: #527755;
        border-radius: 25px;
        box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.2);
    }
    .profiletext{
        color: white;
        font-family: 'IBM Plex Serif', Arial;
        font-weight: bold;
        font-size: 18px;
        text-align: left;
        margin-left: 50px;
        margin-right: 50px;
    }
    .pfp{
        height: 150px;
        width: 150px;
        border-radius: 85px;
        margin-left: 40px;
        border-style: solid;
        border-color: white;
        border-width: 5px;
        margin-top: 20px;
        text-align: center;
    }
}
.buttonoptprofile{
    display: grid;
    grid-template-columns: 300px;
    column-gap: 150px;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.buttonoptsocials{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    column-gap: 150px;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.socialcontent{
    display: grid;
    grid-template-columns: 90px 180px;
    align-items: center;
    padding-left: 5px;
}
.socialname{
    padding-bottom: 0px;
    font-family: 'IBM Plex Serif', Arial;
    font-weight: bold;
    font-size: 16px;
    color: white;
    padding-left: 0px;
    line-height: 0px;
}
.sociallogo{
    height: 55px;
    width: 55px;
    padding: 0;
    align-items: center;
}
@media (max-width: 750px){
    .buttonoptsocials{
        display: grid;
        grid-template-columns: 300px;
        column-gap: 150px;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
    }
    .sociallogo{
        height: 55px;
        width: 55px;
        padding: 0;
    }
    .socialcontent{
        display: grid;
        grid-template-columns: 100px 150px;
        padding-left: 20px;
        align-items: center;
    }
    .socialname{
        padding-bottom: 0px;
    }
    button:hover{
        box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.5);
        opacity: 0.8;
    }
}
