.title{
    color: #545454;
    font-family: 'IBM Plex Serif', Arial;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 30px;
}
.text{
    color: #545454;
    font-family: 'IBM Plex Serif', Arial;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
button{
    font-family: 'IBM Plex Serif', Arial;
    font-weight: bold;
    font-size: 25px;
    color: white;
    background-color: #527755;
    border-radius: 25px;
    border: 0;
    cursor: pointer;
    width: 300px;
    height: 100px;
    justify-content: middle;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.2);
}
.buttonopt, .buttonoptssc{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    column-gap: 150px;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.subjectimg{
    height: 55px;
    width: 55px;
    padding: 0;
}
.subjectcontent{
    display: grid;
    grid-template-columns: 100px 150px;
    padding-left: 20px;
    align-items: center;
}
.subjectname{
    padding-bottom: 0px;
}
button:hover{
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.5);
    opacity: 0.8;
}
@media (max-width: 900px){
button{
    font-family: 'IBM Plex Serif', Arial;
    font-weight: bold;
    font-size: 19px;
    color: white;
    background-color: #527755;
    border-radius: 25px;
    border: 0;
    cursor: pointer;
    width: 300px;
    height: 100px;
    justify-content: middle;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.2);
}
.buttonopt, .buttonoptssc{
    display: grid;
    grid-template-columns: 300px;
    column-gap: 150px;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.subjectimg{
    height: 55px;
    width: 55px;
    padding: 0;
}
.subjectcontent{
    display: grid;
    grid-template-columns: 100px 150px;
    padding-left: 20px;
    align-items: center;
}
.subjectname{
    padding-bottom: 0px;
}
button:hover{
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.5);
    opacity: 0.8;
}
}
.intro{
    color: #545454;
    font-family: 'IBM Plex Serif', Arial;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    margin-top: 110px;
}
.about{
    display: grid;
    grid-template-columns: 300px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.about button{
    height: 90px;
}
.buttonoptssc button{
    font-family: 'IBM Plex Serif', Arial;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: #527755;
    border-radius: 25px;
    border: 0;
    cursor: pointer;
    width: 300px;
    height: 80px;
    justify-content: middle;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.2);
}
.buttonoptssc .subjectimg{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 25px;
}
.buttonoptssc .subjectcontent{
    display: grid;
    grid-template-columns: 80px 150px;
    padding-left: 20px;
    align-items: center;
    justify-content: middle;
}
.buttonoptssc .subjectname{
    padding-bottom: 0px;
}
.patrons{
    color: #545454;
    font-family: 'IBM Plex Serif', Arial;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}